
body {
    padding: 10px;
    font-family: monospace, sans-serif;
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}


input.input {
    width: 95%;
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #fff;
}

textarea {
    width: 95%;
    height: 100px;
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #fff;
    resize: vertical;
}

button {
    padding: 8px 16px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    background-color: #eee;
    border: 1px solid #bbb;
    border-radius: 4px;
    cursor: pointer;
}

select {
    margin-bottom: 20px;
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button:hover {
    background-color: #ddd;
}

button:active {
    background-color: #ccc;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0.5em 0;
    cursor: pointer;
    color: #007bff;
}

input[type="search"] {
    width: 95%;
    padding: 0.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
}


@media all and (min-width: 1024px) {

    body {
        margin: 0;
        height: 100vh;
        padding: 0;
        flex-direction: row-reverse;
    }

    aside {
        width: 250px;
        background: #f4f4f4;
        padding: 10px;
        overflow-y: auto;
        border-right: 1px solid #ccc;
    }

    main {
        flex: 1;
        padding: 10px;
        margin-left: 10px;
        overflow-y: auto;
    }
}
